$brand-primary:         #21a9c0;
$brand-success:         #5cb85c;
$brand-info:            #7A9E83;
$brand-info-bg:         #EDF4F5;
$brand-warning:         #E68122;
$brand-warning-bg:      #F7EADF;
$brand-danger:          #C43546;
$brand-success:         #82B051;
$brand-beige:           #EFF2E6;

$gray-base:           #333;

$font-stack-body: 'Roboto', Helvetica, Arial, sans-serif;
