<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PaperPreen - Automated quality control for your research.</title>

    <link rel="shortcut icon" href="/public/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/landing/landing.css">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/public/landing/img/logo.png" alt="PaperPreen" style="max-width:200px;" ></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Pricing</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Sign Up</a>
                    </li>
                    <li>
                        <a class="#" href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">

                <h1>Perfect Research papers <br>in an instant</h1>
                <hr>
                <p>Automated quality control for your research.<br> Spend less time editing and more time researching.</p>



                <a href="/app/#/report" class="btn btn-primary btn-xl page-scroll">Try Now</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a href="/app/#/" class="btn btn-default btn-xl">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What's in the box?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                        <h3>Intelligent Grammer Advice</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-gavel wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Plagiarism Assurance</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Usability Metrics</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-check wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Styleguide Compliance</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-external-link wow bounceIn text-primary"></i>
                        <h3>Reference Verification</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Slick, Easy Interface</h3>
                        <p class="text-muted">All in one place.</p>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Trial and 100% Money Back Guarantee</h2>
                <a href="/app/#/" class="btn btn-default btn-xl wow tada">Get Started Now!</a>
            </div>
        </div>
    </aside>


    <section id="pricing" class="pricing">
      <div class="container">
        <div class="row flat">
            <div class="col-lg-4 col-md-4 col-xs-6">
                <ul class="plan plan1">
                    <li class="plan-name">
                        BASIC
                    </li>
                    <li class="plan-price">
                        <strong>$19</strong> / month
                    </li>
                    <li>
                        Up to <strong>5 submissions</strong>
                    </li>
                    <li>
                        <strong>1 user</strong>
                    </li>
                    <li>
                        <strong></strong><strike>Submission History</strike>
                    </li>
                    <li class="plan-action">
                        <a href="http://shapebootstrap.net/demo/html/pricing/flat/#" class="btn btn-primary btn-lg">Signup</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6">
                <ul class="plan plan2 featured">
                    <li class="plan-name">
                        PROFESSIONAL
                    </li>
                    <li class="plan-price">
                        <strong>$179</strong> / month
                    </li>
                    <li>
                        Up to <strong>100 submissions</strong>
                    </li>
                    <li>
                        Up to <strong>100 users</strong>
                    </li>
                    <li>
                        <strong>Submission History</strong>
                    </li>
                    <li class="plan-action">
                     <a href="http://shapebootstrap.net/demo/html/pricing/flat/#" class="btn btn-primary btn-lg">Signup</a>
                 </li>
             </ul>
         </div>

         <div class="col-lg-4 col-md-4 col-xs-6">
            <ul class="plan plan3">
                <li class="plan-name">
                    UNLIMITED
                </li>
                    <li class="plan-price">
                        <strong>$489</strong> / month
                    </li>
                    <li>
                        <strong>Unlimited submissions</strong>
                    </li>
                    <li>
                         <strong>Unlimited users</strong>
                    </li>
                    <li>
                        <strong>Submission History</strong>
                    </li>
                <li class="plan-action">
                 <a href="http://shapebootstrap.net/demo/html/pricing/flat/#" class="btn btn-primary btn-lg">Signup</a>
             </li>
         </ul>
     </div>
</div>
</div>
    </section>





    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">hello@paperpreen.com</a></p>
                </div>
            </div>
        </div>
    </section>

<!--
    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <script src="js/creative.js"></script>
-->

<script src="/public/landing.js"></script>
</body>

</html>
